name: Deployment

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch to deploy"
        required: true
        default: "main"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run build
        run: npm run build
